/*
  Created by Jacob Hrbek <kreyren@rixotstudio.cz> under GPLv3 license <https://www.gnu.org/licenses/gpl-3.0.en.html> in 11/04/2020
  
  How-to-use:
  - This is designed to be used with an Automail extension <https://addons.mozilla.org/lv/firefox/addon/aniscripts/> also available as tampermonkey script
  - You need to remove all comments for the website to recognize the syntax as of 11/04/2020
  - To install place the Code in https://anilist.co/settings/apps at the bottom of the page
  - For background i am using `linear-gradient(rgba(123, 0, 193, 0.5), rgb(0,0,0.8)), url(https://linx.li/s/ph6s6jti.png) center/133% fixed`
*/

@-moz-document url("https://anilist.co/home"), url("https://anilist.co/user/kreyren/"), regexp("https://anilist.co/activity/.*") {
/* Colors */
:root {
    --kpxc-background-color: #3b3b3d;
    --kpxc-card-background-color: #2b2a2a;
    --kpxc-card-border-color: #292a2a;
    --kpxc-card-header-color: #27272a;
    --kpxc-container-border: 1px solid #000;
    --kpxc-input-active-border-color: #2b4d1a;
    --kpxc-input-background-color: #27272a;
    --kpxc-input-border: 1px solid #2b4d1a;
    --kpxc-input-border-color: #292a2a;
    --kpxc-input-main-border-color: #3b3d3c;
    --kpxc-link-color: #6cac4d;
    --kpxc-link-hover-color: #429f14;
    --kpxc-table-border-color: #a0a0a0;
    --kpxc-table-hover-color: #474948;
    --kpxc-table-odd-color: #3b3d3c;
    --kpxc-text-color: #cbcfcb;
    --color-foreground: 138,9,186;
    --color-foreground-grey: 245,246,246;
    --color-foreground-grey-dark: 234,236,237;
    --color-foreground-blue: 174,71,247;
    --color-foreground-blue-dark: 241,243,247;
    --color-background: 74, 8, 104;
    --color-background-blue-dark: 31,35,45;
    --color-overlay: 31,38,49;
    --color-shadow: 49,54,68;
    --color-shadow-dark: 6,13,34;
    --color-shadow-blue: 103,132,187;
    --color-text: 247,247,12;
    --color-text-light: 249, 220, 2;
    --color-text-lighter: 183,175,27;
    --color-text-bright: 237,241,245;
    --color-blue: 226,216,13;
    --color-blue-dim: 141,178,219;
    --color-white: 255,255,255;
    --color-black: 0,0,0;
    --color-red: 232,93,117;
    --color-peach: 250,122,122;
    --color-orange: 247,154,99;
    --color-yellow: 247,191,99;
    --color-green: 123,213,85;
    --color-background-100: 251,251,251;
    --color-background-200: 237,241,245;
    --color-background-300: 221,230,238;
    --color-background-400: 201,215,227;
    --color-background-500: 173,192,210;
    --color-background-600: 139,160,178;
    --color-background-700: 116,136,153;
    --color-background-800: 100,115,128;
    --color-background-900: 81,97,112;
    --color-background-1000: 64,78,92;
    --color-background-1100: 38,52,63;
    --color-background-1200: 27,30,31;
    --color-gray-100: 251,251,251;
    --color-gray-200: 237,241,245;
    --color-gray-300: 221,230,238;
    --color-gray-400: 201,215,227;
    --color-gray-500: 173,192,210;
    --color-gray-600: 139,160,178;
    --color-gray-700: 116,136,153;
    --color-gray-800: 100,115,128;
    --color-gray-900: 81,97,112;
    --color-gray-1000: 64,78,92;
    --color-gray-1100: 38,52,63;
    --color-gray-1200: 27,30,31;
    --color-blue-100: 247,250,252;
    --color-blue-200: 236,246,254;
    --color-blue-300: 201,232,255;
    --color-blue-400: 143,215,255;
    --color-blue-500: 111,200,255;
    --color-blue-600: 61,180,242;
    --color-blue-700: 8,143,214;
    --color-blue-800: 12,101,166;
    --color-blue-900: 11,70,113;
    --color-blue-1000: 16,61,85;
    --color-green-100: 245,249,243;
    --color-green-200: 226,246,217;
    --color-green-300: 160,241,126;
    --color-green-400: 119,220,76;
    --color-green-500: 83,175,45;
    --color-green-600: 56,126,26;
    --color-green-700: 46,90,27;
    --color-green-800: 41,66,31;
    --color-red-100: 255,244,246;
    --color-red-200: 254,212,220;
    --color-red-300: 255,140,160;
    --color-red-400: 236,41,75;
    --color-red-500: 213,0,37;
    --color-red-600: 165,1,29;
    --color-red-700: 117,0,20;
}

/* nav-bar */
.nav[data-v-74fb4020], .solid[data-v-74fb4020], .transparent[data-v-74fb4020]:hover {
    background: #000000ad;
    color: #bcbedc;
}

/* Body */
body {
    background: linear-gradient(rgba(51, 5, 77, .87), rgb(0,0,0.8)), url(https://linx.li/s/ph6s6jti.png) center/133% fixed;
    color: rgb(var(--color-text));
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1.6rem;
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* Remove unnecesarry space on homepage */
.page-content > .container, .notifications-feed, .page-content > .studio {
    margin-top: 28px !important;
}

}

@-moz-document url("https://anilist.co/home"), url("https://anilist.co/user/kreyren/"), regexp("https://anilist.co/activity/.*") {
/* Customization */

/* Name in posts */
.text .name[data-v-568e7548] {
    display: inline-block;
    color: #FF0;
    height: 40px;
    line-height: 40px;
    margin-left: 12px;
    vertical-align: top;
    font-weight: bold;
    font-size: 200%;
}

/* H2 */
h2 {
    font-size: 200%;
    font-weight: bold;
    font-family: Keter YG;
}

/* Publish button */
.button[data-v-8331b8c4] {
    align-items: center;
    background: rgb(var(--color-blue));
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
    margin-left: 18px;
    padding: 10px 15px;
    transition: .2s;
}

/* Feed buttons */
.feed-type-toggle > div[data-v-7b8d25f2] {
    display: inline-block;
    font-size: 1.2rem;
    padding: 6px 0;
    text-align: center;
    transition: .2s;
    width: 72px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
}

@-moz-document url("https://anilist.co/user/kreyren/") {
/* Navbar ancored selection */
.nav .router-link-active[data-v-5445dac8] {
    color: #E7FF00;
}

/* Milestones */
.milestones[data-v-815ccddc] {
    display: grid;
    font-size: 1.1rem;
    font-weight: 500;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    padding: 11px 0;
    background-color: #4F026C;
}

.stat .value[data-v-815ccddc] {
    color: #FF0;
    font-size: 150%;
    font-weight: 700;
    padding-bottom: 8px;
}

.user-page-unscoped.purple .progress .bar {
    background: linear-gradient(270deg,#f70000,#effb06);
}
.progress .bar[data-v-815ccddc] {
    background: linear-gradient(270deg,#02a9ff,#71cfff);
    border-radius: 0px;
    box-sizing: content-box;
    height: 100%;
    margin-left: -33.3%;
    padding-right: 33.3%;
}
.progress[data-v-815ccddc] {
    background: #2D023E;
    height: 11px;
    padding: 0 16.5%;
}

/* Avatar */
/** Make it round **/
.avatar[data-v-5445dac8] {
    border-radius: 200%;
}

/** Move it to center-ish **/
.avatar[data-v-5445dac8] {
    margin-left: 40%;
    margin-bottom: 5%;
}

/* Profile name */
/** Move it to it's location-ish **/
.name[data-v-5445dac8] {
    margin-bottom: -28px;   
}

/* Clickable things */
.markdown a, .markdown a:visited {
    color: #FF0;
    font-weight: bold;
}
  
/* Hyperlinks in small posts */
.list .title[data-v-568e7548] {
    color: #FF0;
    font-weight: bold;
}
}
